
 body {color: #000;
 	font-style: bold;
 	background-color: gray;
 	background-image: url(../../../../desktop/tile.jpg);
 	background-repeat: repeat;
font-family: serif;
 }

h4 {text-align: right;}

h2 {text-align: center;
	color: #000;
}
h1 {color:#300;}

ul {list-style: square;
color:#000;}

td {width: 50%;}

.homepage {}

#pasttd {width:60px;
text-align:center; } 

.title {border: black solid;
border-width: 10px;
margin: 2em;
text-align: center;}

.bio {border: black solid;
border-width: 20px;}

.photos {border:black solid;
margin:10px;}

.past {border: black solid; margin-right:20%;margin-left:20%;margin-top:10px;margin-bottom:5px;width:60%;
}

.present {border: black solid; margin:10px;margin-top: 0px;}

.future {border: black solid; margin:10px;width:60%;margin-right: 20%;margin-left: 20%;}

a:link {color: #000;text-decoration: none;
}
a:hover {text-decoration: underline;}

a:visited {color:#f0f;}

#bioimage {width: 90%;
	padding: 5%;
}

.logos {width:30px;height: 30px;}


#lolajockey {height: 300px; alt="Lola dressed as a jockey on Halloween"}

#saeimage {width:90%; padding:5%;padding-top: 0%;}

#touchdownimage {width: 90%;
padding-right:5%;padding-top:5% ;padding-bottom: 5%; padding-left: none;}

#falconsimage {float:right;height:140px;}

footer {color:black;border:black solid 2px;margin:5px;}

#copyright {text-align: center;}